@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body{
    background-color: rgb(226, 225, 225);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 4rem;
    padding-right: 4rem;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden;
}

.container img {
    padding-bottom: 15px;
}

.todos {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5rem;
}

.imagemBotao {
    width: 10%;
    transition: transform 0.7s ease;
}

.imagemBotao:hover {
    transform: rotate(360deg);
}

.camposInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#idPokemon {
    height: 25px;
    width: 190px;
}

.shinys {
    display: flex;
    flex-direction: row;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 10%;
    justify-content: center;
}


.pokemonEscolhido {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(246, 211, 11);
    border-width: 1rem;
    padding: 20px;
    color: rgb(43, 43, 43);
    transition: transform 0.5s ease;
    width: 20rem;
}

.pokemonEscolhido:hover {
    transform: scale(1.1);
}


.pokemonEscolhido img {
    width: 70%;
    margin-bottom: 5px;
}

.nomePokemon {
    background-color: rgb(196, 196, 196);
}

.textinho {
    border-radius: 10px;
    padding: 15px;
}

.containerGatos{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.containerGatos h1 {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
}

.containerGatos button {
    background-color: rgb(226, 225, 225);
    border: none;
    cursor: pointer;
}

.containerGato{
    background-color: white;
    border-radius: 50px;
    padding: 2%;
    width: 20%;
}

.containerGato img{
    max-width: 90%;
    border-radius: 50px;
}