@import url('https://fonts.cdnfonts.com/css/pokemon-solid');


.tamanhoSaibaMais {
    width: 100%;
    height: 100%;
    display: flex;
}

.imagemFundoSaibaMais {
    background-image: url('../assets/saibaMais/fundoSaibaMaisNovo.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.retanguloSaibaMais {
    color: white;
    margin-bottom: 2%;
    background: rgb(0, 0, 0, 0.8);
    border-radius: 2.5rem;
    width: 80%;
    height: 100%;
    margin-top: 5%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sliderContainer {
    display: flex;
    width: 80%;
    min-height: 80vh;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.retanguloSaibaMais h1 {
    margin-top: 5%;
}

.retanguloSaibaMais button {
    border-style: none;
    background-color: transparent;
    cursor: pointer;
}

.container-images {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;

}

.slider h3{
    font-size:8rem;
}

.retanguloSaibaMais h1{
    font-size: 7rem;
}
.slider {
    opacity: 0;
    transition: opacity .2s;
    position: absolute;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}


.on {
    opacity: 1;
}

#botaoAnterior {
    transform: rotate(180deg);
}

.imagemTitulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 4rem;
    padding-right: 4rem;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden;
}

.container img {
    padding-bottom: 15px;
}

.todos {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5rem;
}

.imagemBotao {
    width: 10%;
    transition: transform 0.7s ease;
}

.imagemBotao:hover {
    transform: rotate(360deg);
}

.camposInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#idPokemon{
    height: 25px;
    width: 190px;
}

.shinys{
    display: flex;
    flex-direction: row;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 10%;
    justify-content: center;
}


.pokemonEscolhido {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(246, 211, 11);
    border-width: 1rem;
    padding: 20px;
    color: rgb(43, 43, 43);
    transition: transform 0.5s ease;
    width: 20rem;
}

.pokemonEscolhido:hover{
    transform: scale(1.1);
}


.pokemonEscolhido img {
    width: 70%;
    margin-bottom: 5px;
}

.nomePokemon{
    background-color: rgb(196, 196, 196);
}

.textinho{
    border-radius: 10px;
    padding: 15px;
}